:root {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  perspective: 35rem;
}

.container > div {
  display: block;
  height: 6rem;
  font-size: 4rem;
  overflow: hidden;
}

.container > div > span {
  display: block;
  height: 6rem;
  font-weight: bold;
  letter-spacing: -0.2rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  line-height: 6.3rem;
  padding: 0 2rem;
}

.container:hover > div > span {
  transform: translateY(-100%);
}

.container > div:nth-child(1) {
  background: rgba(0, 0, 0, 0.15);
  transform: rotateX(30deg);
}

.container > div:nth-child(2) {
  background: rgba(0, 0, 0, 0.05);
  transform: translateY(-0.5rem) rotateX(-30deg);
}

.container > div:nth-child(3) {
  background: rgba(0, 0, 0, 0.15);
  transform: translateY(-1rem) rotateX(30deg);
}

.container > div:nth-child(4) {
  background: rgba(0, 0, 0, 0.05);
  transform: translateY(-1.5rem) rotateX(-30deg);
}
